<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>
        
        <!--Option skip means don't try to email, only calculate hash code for specific file.
        <add key="mail_skip" value="skip"/>
        -->
        <add key="mail_skip" value=""/>
      
        <!-- example
        <add key="mail_server" value="smtp.gmail.com"/>
        <add key="mail_server_port" value="587"/>
        <add key="mail_server_EnableSsl" value="true"/>
        <add key="mail_server_UseDefaultCredentials" value="true"/>
        
        Make sure you need tls/ssl or not, port setting depends on it.
        ->mail_server_EnableSsl = true or not?
        -->
        <add key="mail_server" value=""/>      
        <add key="mail_server_port" value=""/>
        <add key="mail_server_EnableSsl" value="true"/>
        <add key="mail_server_UseDefaultCredentials" value="true"/>

        <!--mail sender info-->
        <add key="mail_account" value=""/>
        <add key="password" value=""/>
        <!-- 
        If email from google, you will need to check this:
        https://support.google.com/mail/answer/185833?hl=en
        Follow the guide to generate a password for your program.
        -->
      
        <!--first one mail info
        Eddit the email subject body here.
        -->
        <add key="mail_encoding" value="UTF8"/>
        <add key="mail_subject" value="Package:"/>
        <add key="mail_body" value="Package sending tests."/>
        <add key="mail_IsBodyHtml" value="true"/>
      
        <!--second one mail info
        Eddit the email subject body here.
        -->
        <add key="mail_2_encoding" value="UTF8"/>
        <add key="mail_2_subject" value="Hash value for package:"/>
        <add key="mail_2_body" value="Hash sending tests."/>
        <add key="mail_2_IsBodyHtml" value="true"/>

        <!-- example
        Support mutiplie receivers, check program hash_gui.cs: line 108 for detail.
        <add key="receiver" value="accountA@smtpserverA.com;accountB@smtpserverB.com"/>
        -->
        <add key="receiver" value=""/>
    </appSettings>

  <!-- tcp or smtp fail debug
  Problem may occurs during the tcp or smtp.
  
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="System.Net" maxdatasize="1024">
        <listeners>
          <add name="TraceFile"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets" maxdatasize="1024">
        <listeners>
          <add name="TraceFile"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="TraceFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log"/>
    </sharedListeners>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
    </switches>
  </system.diagnostics>
  -->
</configuration>
